.Logo{
    box-sizing: border-box;
    padding: 8px;
    background-color: #fff;
    border-radius: 5px;
}

.Logo img{
    height: 100%;
    width: 55px;
    box-sizing: border-box
}

@media(min-width:500px){
    .Logo{
        height: 80%;
    }
    
}