.SideDrawer{
    background-color: #fff;
    position: fixed;
    width: 280px;
    min-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform .3s ease-out;
}

.SideDrawer img{
    width: 40px;
    height: 30px;
}

.Open{
    transform: translateX(0)
}
.Close{
    transform: translateX(-100%)
}
.Logo{
    height: 11%;
}

@media (min-width: 500px){
    .SideDrawer{
        display: none;
    }
}